@import '../../scss/vendors/vendors.scss';

.goAbout {
	position: fixed;
	top: 0;
	left: 0;
	padding: $margin-top-bottom 0 0 $margin-sides;
	@include flexbox(row, space-around, center);
	z-index: 30;
	cursor: pointer;
	opacity: 0;
	animation: fade .5s forwards;

	h2 {
		font-size: 1.25rem;
	}

	.arrowIcon {
		height: 24px;
		width: 24px;
		fill: #FFFFFF;
		margin-left: 1rem;
	}
}