@import '../../scss/vendors/vendors.scss';

.first__title{
    font-family:$primary-font;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    position:absolute;
    top:0;
    left: 5%;
    z-index:100;
    cursor:pointer;
}