@import '../../routes/main/main.scss';

.nav {
	padding: $margin-top-bottom $margin-sides $margin-top-bottom $margin-top-bottom;
	text-align: right;
	background: $secondary-bg;
	border-top-left-radius: 1.875rem; 
	border-bottom-left-radius: 1.875rem;
	opacity: 0;
	animation: fade 1.5s 1s linear forwards;

	ul {
		@include flexbox(column, space-between, flex-end);
	}

	li {
		@include flexbox(row, flex-end, center);
		letter-spacing: .2rem;
		opacity: .5;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}