@import '../../routes/main/main.scss';

.nav {
	padding-right: $margin;
	text-align: right;
	opacity: 0;
	animation: fade 1.5s 1s linear forwards;
	border-top-left-radius: 30px; 
	border-bottom-left-radius: 30px;
	background: $secondary-bg;
	opacity: 0;
	padding: 2rem;

	li {
		margin-bottom: $margin;
		@include flexbox(row, flex-end, center);
	}
}