@import '../main.scss';

.nav {
	padding-right: $margin;
	text-align: right;

	li {
		margin-bottom: $margin;
		@include flexbox(row, flex-end, center);
		color: $red;

		&::after {
			content: "";
			display: block;
			width: 1.25rem;
			height: 1.25rem;
			margin-left: 1rem;
			border: 1px solid $white;
			border-radius: 50%;
		}
	}
}