@import '../../scss/vendors/vendors.scss';


.main {
	position: relative;
	width: 100vw;
	height: 100vh;
	@include flexbox(row, space-between, center);
	font-weight: $text-weight;
	// user-select: none;

	h2 {
		font-size: $title-size;
		font-weight: $title-weight;
	}
}
