@import '../../scss/styles.scss';

.main {
	position: relative;
	width: 100vw;
	height: 100vh;
	@include flexbox(row, space-between, center);
	font-weight: lighter;

	h2 {
		font-size: 1.2rem;
		font-weight: normal;
	}
}
