.search{
    position: absolute;
    left: 5%;
}
.search__input{
    width: 200px;
    height: 30px;
    background: rgba(255, 255, 255, 0.05);
    border: 0.5px dashed #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.search__input[placeholder]{
    padding-left:1vw;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
}