@import '../../scss/vendors/vendors.scss';

.home .header .nav__item:not(.nav__item--turnOff) {
  display: none;
} 

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0; 
  padding: $margin-top-bottom $margin-sides 0 0;
  opacity: 0;
  animation: fade 2s 1s ease-in-out forwards;

  ul {
    @include flexbox(row, flex-end, center);
  }

  li.nav__item {
    width: 2.5rem;
    height: 2.5rem;
    @include flexbox(row, center, center);
    border-radius: 0.625rem;
    background: $secondary-bg;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &.nav__item--lang {
      width: 5.375rem;
      padding: 1rem;
      @include flexbox(row, space-between, center);
    }

    .navItem__icon {
      width: 2rem;
      height: 2rem;
      fill: $white;
    }
  }
}