@import '../../routes/main/main.scss';

.timeline {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 6.25rem;
	border-top-left-radius: 30px; 
	border-top-right-radius: 30px;
	background: $secondary-bg;
	opacity: 0;
	animation: fade 1.5s 1s linear forwards;

	ul {
		width: 80%;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;

		li {
			margin-right: .5rem;
		}
	}
}