@import '../../routes/main/main.scss';

.timeline {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 6.25rem;
	border-top-left-radius: 30px; 
	border-top-right-radius: 30px;
	background: $secondary-bg;
	opacity: 0;
	animation: fade 1.5s 1s linear forwards;

	ul {
		width: 90%;
		overflow: hidden;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		border: solid blue;
		@include flexbox(row, space-between, center);

		li {
			margin-right: .5rem;
			color: red;
			display: none;

			&:nth-child(6n) {
				display: block;
			}
		}
	}
}

.scrollbar {
	// border: solid red;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 150%;
}