.legende{
    display:flex;
    width: 550px;
    justify-content: space-around;
}
.linear{
    width: 250px;
    height: 20px;
    background: linear-gradient(to right, #FFEBB3,#FEDC79,#F3B665,#EA9956,#E07844,#D34C2D, #C00B0B);
    border-radius: 10px;
    z-index:1;
}