.search__input{
    width: 12.5rem;
    height: 30px;
    background: rgba(255, 255, 255, 0.164); 
    border: unset;
    border-radius: 10px;
}

.search__input[placeholder]{
    padding-left:1vw;
    font-size: 0.875rem;
    font-style: italic;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 0.5rem;
}