/***** HEADER *****/

header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    padding: $margin $margin 0;
    @include flexbox(row, space-between, flex-start);
}

/***** NAV MENU + NAV ICONS *****/

.navList {
    @include flexbox(row, space-between, center); 

    .navItem {
        @include flexbox(column, center, center);
        cursor: pointer;

        a {
            @include flexbox(column, center, center);
        }

        .navItem__icon {
            border: 1px solid $grey;
            border-radius: 100%;
            padding: .1rem;
        }

        p {
            font-family: $secondary-font;
            font-size: 1.5rem;
            color: $grey;
        }
    }
}

/***** NAV MENU *****/

.navMenu .navItem {

    &:not(:first-child) {
        margin-left: $margin + 1rem;
    }

    .navItem__icon {
        width: $icon-container-size-big;
        height: $icon-container-size-big;
        fill: $grey;
    }
}

/***** NAV ICONS *****/

.navIcons .navItem {
    background: $bg;
    border: 1px solid $grey;
    border-radius: 100%;
    width: $icon-container-size-medium;
    height: $icon-container-size-medium;

    a {
        width: 100%;
        height: 100%;
    }

    &:not(:first-child) {
        margin-left: $margin;
    }

    .navItem__icon {
        width: 85%;
        height: 85%;
        background-color: $grey;
        fill: $bg;
    }
}

/***** HOME BEHAVIOUR *****/

.home {
    header {
        @include flexbox(row, flex-end, center);
    }

    .navMenu {
        display: none;
    }

    .navIcons {
        .navItem--mode, 
        .navItem--lang, 
        .navItem--turnOff {
            display: none;
        }
    }
}

/***** ICONS *****/

