@import '../../scss/vendors/vendors.scss';

.about {
	z-index: 20;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 8rem 1.875rem;
	background: linear-gradient(to bottom,rgb(48, 48, 48) 11%, rgb(19, 19, 19) 100%);
	opacity: 0;
	animation: fade .5s ease-in-out forwards;

	h2 {
		font-size: 2.25rem;
		text-transform: uppercase;
	}

	h3,
	h4 {
		font-size: 1.75rem;
	}

	h4 {
		font-weight: bold;
	}

	p {
		font-family: $secondary-font;
		font-size: 1.2rem;
		font-weight: lighter;
		line-height: 1.5;
	}

	h2, 
	h3,
	h4, 
	p {
		margin-bottom: 1rem;
	}

	.aboutContainer__articles {
		margin: 4rem 0;
		@include flexbox(row, space-between, unset); 
		flex-wrap: wrap;

		article {
			width: 48%;
			margin-bottom: 2rem;
		}
	}

	.sourcesContainer a {
		text-decoration: underline;
		line-height: 2;
	}
}