@import '../../scss/vendors/vendors.scss';

.home {
  width: 100vw;
  height: 100vh;
  @include flexbox(column, center, center);
  // background-color: $bg-up;

  .home__content {
    opacity: 0;
    animation: fade 2s .5s ease-in-out forwards;
    width: 50%;
    @include flexbox(column, center, center);

    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
  
    ul {
      width: 50%;
      @include flexbox(row, space-between, center);
    }

    .headphoneIcon {
      fill: $white;
      position: absolute;
      bottom: $margin;
      width: 5rem;
      height: 5rem;
      animation: blink 1s linear alternate infinite;
    }
  }
}