@import '../../routes/main/main.scss';

.infos {
  width: 28%;
  min-height: 20.625rem;
  max-height: 75%;
  opacity: 0;
  animation: fade 1.5s 1s linear forwards;
  z-index: 2;
  padding-left: 1.875rem;

  h2 {
    margin-bottom: .8rem;

    p {
      font-size: 1.75rem;
    }
  }

  p 

  strong {
    font-weight: bold;
  }

  .data {
		font-size: 1.8rem;
		font-weight: $data-weight;
	}

  i {
    font-size: .875rem;
    font-style: italic;
    opacity: .5;
    font-family: $secondary-font;
    font-weight: lighter;
  }
}

.infos__bloc {
  animation: fade .5s forwards;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.infos__bloc--management {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: .8rem;
      height: 45%;
      border-top: 1px dotted $white;
      border-left: 1px dotted $white;
      border-bottom: 1px dotted $white;
    }

    li:last-child {
      margin-top: 1rem;
    }
  }
}